<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->

<!-- View 3 -->


<div class="col-md-offset-4" id="searchbar">

    <table class="table">
        <thead>
            <th>
                <h3>Search Dish</h3>
            </th>

            <th>
                <div align="center" class="col-md-8">
                    <form role="form">

                        <!-- <label for="searchDish">SELECT DISH</label> -->

                        <input type="keyword" class="form-control" id="searchDish" placeholder="Enter search keyword" ng-model="query" />
                        <button ng-click="search(query)">Search</button>
                        {{status}}


                    </form>
                </div>
            </th>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>

<div id="selectDishView" class="col-md-offset-4">

    <div class="container">
        <div class="col-md-9">
            <ul>
                <!-- <li ng-repeat="dish in dishes">
                    <br>
                    <img ng-src="{{dish.ImageURL}}" /> {{dish.Title}}
                    <br>
                    <a ng-href="#/dish/{{dish.RecipeID}}">View more</a> {{dish.Category}} {{dish.Subcategory}}
                </li> -->
                <!-- class=list data-dish-id="' + arg.content.Results[x].RecipeID -->
                <li ng-repeat="dish in dishes" style="display:inline-block;width:200px;height:200px;">
                    <div><img style="width:150px;height:150px;" ng-src="{{dish.ImageURL}}" />
                        <br>{{dish.Title}}
                        <br>{{dish.RecipeID}}
                        <a ng-href="#/dish/{{dish.RecipeID}}">
                            <button ng-click="selected(dish.RecipeID)">Select Dish</button>

                        </a>




                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--
// Dinner controller that we use whenever we have view that needs to 
// display or modify the dinner menu
dinnerPlannerApp.controller('DinnerCtrl', function ($scope,Dinner) {

  $scope.numberOfGuests = Dinner.getNumberOfGuests();

  $scope.setNumberOfGuest = function(number){
    Dinner.setNumberOfGuests(number);
  }

-->